<div style="width:100%">

    <div style="max-width:600px;margin:0 auto;padding:60px 0 30px 0;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;border:1px solid #e2e2e2">
  
      <div align="center" style="padding-right:0px;padding-left:0px" class="logo-area">
        <div style="font-size:1px;line-height:20px">&nbsp;</div><a href="https://wooiljeong.github.io" style="outline:none" target="_blank"> <img align="center" border="0" src="https://avatars.githubusercontent.com/u/38076110?v=4" alt="Logo" title="Logo" style="text-decoration-line: none; height: auto; border: none; width: 100%; max-width: 143px; display: block;" width="143"></a>
        <div style="font-size:1px;line-height:20px">&nbsp;</div>
      </div>
  
      <hr style="border:0;border-top:solid 1px #e2e2e2;width:90%;margin:30px auto" class="horizontal-line">
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
  
        <div style="margin-top:20px">
          안녕하세요. 키워드 뉴스레터 템플릿 입니다.
        </div>
  
      </div>
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:20px" class="bullet-point">
        <ul>
          <li>조회기준: {sort_selected}</li>
        </ul>
      </div>
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:20px" class="bullet-point">
        <ol>
          <!-- <li>순서 리스트</li> -->
        </ol>
      </div>
      
      <!-- 메인 이미지 넣기 -->
      <div align="center" style="padding-right:0px;padding-left:0px;margin-top:40px" class="full-image">
        <!-- <img align="center" border="0" src="https://steemitimages.com/640x0/https://cdn.steemitimages.com/DQmdZZLcyLv6Z1BXQ7mfarYq5a2MnAhimaJfCq2KAxYoSKT/main.png" alt="Image" title="Image" style="border: 0px; height: auto; width: 100%; display: block;"> -->
      </div>
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
  
        <div style="margin-top:20px">
          {contents}
        </div>
  
      </div>
  
      <div align="center" style="padding-top:40px;padding-right:10px;padding-bottom:10px;padding-left:10px">
        <a href="#" style="text-decoration-line: none; display: inline-block; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-radius: 60px; width: auto; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 10px 25px;" target="_blank">더 보기</a>
      </div>
  
      <div style="text-align:center;">
        <a style="font-size:12px;color:silver" href="mailto:mcwooil2@gmail.com?subject=Unsubscribe!&amp;body=I&nbsp;don't&nbsp;want&nbsp;to&nbsp;receive&nbsp;an&nbsp;email&nbsp;from&nbsp;your&nbsp;service!" target="_blank">Unsubscribe from emails</a>
      </div>
  
    </div>
  </div>